body {
    font-family: sans-serif;
    text-align: center;
    background-size: cover;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url("https://di-uploads-pod6.dealerinspire.com/jaguarwestashley/uploads/2018/04/Jaguar_Brake-Pads_Parts_1920x823-1024x439.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0px;
    padding-left: 460px;
    overflow: hidden;
    background-color: #3E2723;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 200%;
    height: 45px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #BCAAA4;
    color: black;
}

div fieldset {
    width: 110px;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 110px;
    padding-bottom: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

.about {
    padding-left: 440px;
}

.active {
    background-color: rgb(83, 62, 55);
    color: #fff;
}

.about_div {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 30px;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: #3E2723;
}

.header {
    padding-top: 60px;
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #ECEFF1;
    padding-left: 30px;
}

p {
    font-size: 20px;
    padding-top: 5px;
    color: #3E2723;
}

#subBtn {
    color: #fff;
    background-color: black;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    outline: none;
}

#subBtn {
    color: #fff;
    background-color: #4E342E;
    border-color: #EEEEEE;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 40px;
    opacity: 1;
}

#subBtn:hover {
    cursor: pointer;
    background-color: #3E2723;
}

p,
.welcome {
    padding-left: 30px;
    font-size: 20px;
}

footer {
    text-align: center;
    /* padding-top: 230px; */
}

#create {
    font-weight: bold;
}