body {
    background: #e6ecf0;
    text-align: center;
    font-family: sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 2000px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #3E2723;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #BCAAA4;
    color: black;
}

#tb1,
#tb2,
#tb3 {
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 0px;
    font-size: 18px;
    width: 60%;
}

th,
td {
    text-align: left;
    padding: 5px;
}

th {
    background-color: white;
    opacity: 0.8;
}

td:nth-child(even) {
    background-color: #4E342E;
    color: #ECEFF1;
}

td:nth-child(odd) {
    background-color: #795548;
    color: #D7CCC8;
    opacity: 0.8;
}

th {
    text-emphasis-color: white;
}

#date {
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 30px;
}

.header {
    padding-top: 50px;
}

#approve {
    background-color: rgb(43, 39, 39);
    color: white;
    padding: 5px;
    border-color: rgb(43, 39, 39);
}

#approve:hover {
    background-color: green;
    cursor: pointer;
}

#disapprove:hover {
    background-color: red;
    cursor: pointer;
}