body {
    background: #e6ecf0;
    text-align: center;
    font-family: sans-serif;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #212121;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #424242;
    color: #fff;
}

#tb1,
#tb2,
#tb3 {
    align: center;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 0px;
    font-size: 18px;
    width: 60%;
    filter: drop-shadow(100%);
}

th,
td {
    text-align: left;
    padding: 5px;
}

th {
    background-color: white;
    opacity: 0.8;
}

td:nth-child(even) {
    background-color: grey;
    color: rgb(43, 39, 39);
}

td:nth-child(odd) {
    background-color: rgb(56, 55, 55);
    color: white;
    opacity: 0.8;
}

th {
    text-emphasis-color: white;
}

#date {
    padding-left: 100px;
    padding-right: 50px;
}

button {
    background-color: rgb(43, 39, 39);
    color: white;
    padding: 5px;
    border-color: rgb(43, 39, 39);
}

#approve:hover {
    background-color: green;
    cursor: pointer;
}

#disapprove:hover {
    background-color: red;
    cursor: pointer;
}