body {
    background: #BDBDBD;
    align-content: center;
    font-family: sans-serif;
    text-align: center;
}
#req{
    color: #fff;
    background-color: black;
    border-color: black;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#req:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(44, 43, 43);
    border-color: rgb(44, 43, 43);
}
#add{
    color: #fff;
    background-color: black;
    border-color: black;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#add:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(44, 43, 43);
    border-color: rgb(44, 43, 43);
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #3E2723;
}
li {
    float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #BCAAA4;
    color: black;
}
#tb1, #tb2, #tb3{
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    width: 60%;
}
th, td{
    text-align: left;
    padding: 5px;
}
th{
    background-color: white;
    opacity: 0.8;
}
td:nth-child(even){
    background-color: grey;
    color: rgb(43, 39, 39);

}
td:nth-child(odd){
    background-color: rgb(56, 55, 55);
    color: white;
    opacity: 0.8;
}
th{
    text-emphasis-color: white;
}
#date{
    padding-left: 100px;
    padding-right: 50px;
}