body {
    background: rgba(196, 196, 196, 0.4);
    align-content: center;
    font-family: sans-serif;
    text-align: center;
}

.header{
    padding-top: 60px;
}

#fixed-nav-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 2000px;
}

#req {
    color: #fff;
    background-color: #4e342e;
    border-color: #EEEEEE;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#req:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: #3E2723;
    border-color: #3E2723;
}

#add {
    color: #fff;
    background-color: #4E342E;
    border-color: #EEEEEE;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#add:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: #3E2723;
    border-color: #3E2723;
    ;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #3E2723;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #BCAAA4;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.mytab {
    padding-left: 360px;
}

#tb1,
#tb2,
#tb3 {
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    width: 60%;
}

th,
td {
    text-align: left;
    padding: 5px;
}

th {
    background-color: white;
    opacity: 0.8;
}

td:nth-child(even) {
    background-color: #4E342E;
    color: #ECEFF1;
}

td:nth-child(odd) {
    background-color: #795548;
    color: #D7CCC8;
    opacity: 0.8;
}

#date {
    padding-left: 100px;
    padding-right: 50px;
}