body{
    background-image: url("https://cdn.lynda.com/course/512733/512733-636135275223866639-16x9.jpg");
    background-size: cover;
}
fieldset{
    width: 20px;
    height: 410px;
}

div{
    padding-top: 40px;
    padding-left: 30px;
}
input{
    padding: 10px;
}