body {
    
    background: #BDBDBD;
    align-content: center;
    font-family: sans-serif;
    text-align: center;
}

.signup {
    padding-left: 440px;
    padding-top: 30px;
}

header {
    font-size: 20px;
    color: rgb(90, 87, 87);
}

legend {
    font-size: 40px;
    color: #3E2723;
    text-shadow: 2px 2px 2px #BCAAA4;
}

div fieldset {
    width: 40px;
    height: 500px;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 110px;
    padding-bottom: 95px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;

}

input {
    padding: 10px 20px 10px 20px;
    opacity: 0.8;
    border: none;
    outline: none;

    border-bottom: 1px solid #BDBDBD;
    color: #3E2723;
    font-size: 15px;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

#subBtn {
    color: #fff;
    background-color: #4E342E;
    border-color: #795548;
    border-radius: 20px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    opacity: 1;
}

#subBtn:hover {
    cursor: pointer;
    background-color: #3E2723;
}