body {
    background: #BDBDBD;
    align-content: center;
}

.signup {
    padding-left: 480px;
}

header {
    font-size: 20px;
    color: rgb(90, 87, 87);
}

legend {
    font-size: 40px;
    color: #3E2723;
    text-shadow: 2px 2px 2px #BCAAA4;
}

div fieldset {
    width: 40px;
    height: 250px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 95px;
    background-color: #fff;
    border-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

input{
    padding: 10px 20px 10px 20px;
    opacity: 0.8;
    border-color: #EEEEEE;
    color: #3E2723;
    font-size: 15px; 
    border: none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;

}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: #212121;
}

#subBtn{
    color: #fff;
    background-color: #4E342E;
    border-color: #EEEEEE;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    opacity: 1;
}
#subBtn:hover{
    cursor: pointer;
    background-color: #3E2723;
}

p,
.welcome {

    padding-left: 30px;
    font-size: 20px;
}

footer {
    text-align: center;
}

div {
    text-align: center;
}